$font: "Gaegu", cursive;

$background: #2E2832;

$white: #FFF;
$yellow: #FFC838;
$purple: #6A63DE;
$red: #FF4553;
$pink: #FF4CBD;
$green: #91E046;
$blue: #33D3FA;

$character-colors: (
    "yellow": $yellow,
    "purple": $purple,
    "red": $red,
    "pink": $pink,
    "green": $green,
    "blue": $blue,
);
